body, html, main {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 40px;
  color: #F1DEDE;
  text-align: center;
  padding: 0;
  margin: 20px;
}

h1, h2, a {
  font-family: "Architects Daughter", cursive;
}

h3, p {
  font-family: "Roboto", sans-serif;
}

h4, h5 {
  font-family: "Open Sans Condensed", sans-serif;
}

.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("IMG/home-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(80%);
}

.hero-content {
  position: relative;
}

.hero-text {
  top: 40vh;
}

.hero-text p {
  color: #F1DEDE;
  text-align: center;
  font-size: 40px;
  padding: 0;
  margin: 20px;
}

.hero-button {
  border: 2px solid #F1DEDE;
  text-decoration: none;
  color: #F1DEDE;
  padding: 4px 4px 4px 10px;
  text-align: center;
  font-size: 30px;
}

.hero-button:hover {
  color: #EF5D60;
  border: 1px solid #EF5D60;
}

#highlight {
  color: #EF5D60;
}

.down-arrow {
  width: 4vw;
  position: absolute;
  bottom: 0vw;
  left: 48vw;
}

@media only screen and (max-width: 600px) {
  .home-text p {
    font-size: 30px;
  }

  .button {
    font-size: 20px;
    height: 30px;
  }

  .down-arrow {
    width: 8vw;
    left: 46vw;
  }
}
.navbar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #7A918D;
}

.nav-link-container {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-link-container a {
  font-size: 20px;
  height: 40px;
  text-decoration: none;
  color: #F1DEDE;
  padding: 0 40px 0 0;
  margin: 10px 0 0 0;
}

.nav-link-home:hover,
.nav-link-skills:hover,
.nav-link-blog:hover,
.nav-link-about:hover {
  color: #EF5D60;
}

@media only screen and (max-width: 600px) {
  .nav-link-container {
    justify-content: center;
  }

  .nav-link-container a {
    font-size: 15px;
    padding: 0 15px;
    margin: 20px 0 0 0;
    height: 20px;
  }
}
.blog-overview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-heading-container {
  width: 900px;
  display: flex;
  justify-content: flex-start;
}

.blog-card-container {
  display: flex;
  height: 940px;
  width: 900px;
  flex-wrap: wrap;
}

.blog-card {
  border: 1px solid black;
  height: 448px;
  width: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-link-bar {
  border: 1px solid black;
  width: 994px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .blog-heading-container {
    width: 400px;
  }

  .blog-card-container {
    width: 400px;
    height: 1840px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .blog-heading-container {
    width: 300px;
  }

  .blog-card-container {
    width: 300px;
  }

  .blog-card {
    width: 300px;
  }
}
.contact-me-container {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-content {
  height: 400px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-heading {
  padding: 0 20px;
}

.contact-info {
  border: 1px solid black;
  width: 40%;
  height: 100%;
  text-align: center;
}

.contact-info img {
  margin: 30px 0 15px 0;
  height: 100px;
  width: 150px;
}

.contact-info p {
  padding: 0 20px;
  margin: 10px 0;
  text-align: left;
}

.contact-form {
  border: 1px solid black;
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: column;
}

.form-input {
  margin: 5px;
  width: 80%;
  box-sizing: border-box;
}

.form-container {
  text-align: center;
}

#message {
  height: 150px;
  width: 80%;
  resize: none;
}

#submit {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .contact-me-container {
    height: 730px;
  }

  .contact-me-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 650px;
  }

  .contact-info {
    width: 300px;
    height: 440px;
  }

  .contact-form {
    width: 300px;
    height: 400px;
  }
}
.footer-container {
  height: 50px;
  width: 100%;
  background-color: black;
  border-top: 5px solid #7A918D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link-container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.created-by {
  display: flex;
  flex-direction: row;
}

.footer-text {
  margin: 0;
}

.social-links i {
  margin: 0 10px;
}

.created-by p, .created-by i, .social-links i {
  color: #F1DEDE;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .footer-link-container {
    width: 300px;
  }
}
.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-heading-container {
  width: 900px;
  display: flex;
  justify-content: flex-start;
}

.skills-card-container {
  display: flex;
  flex-wrap: wrap;
  height: 940px;
  width: 900px;
}

.skills-card {
  height: 448px;
  width: 448px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dl-resume-container {
  border: 1px solid black;
  width: 900px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .skills-heading-container {
    width: 400px;
  }

  .skills-card-container {
    width: 400px;
    height: 1820px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .skills-heading-container,
.skills-card-container,
.skills-card {
    width: 300px;
  }

  .skills-container {
    height: 1952px;
  }
}
.blog-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-post-container {
  width: 900px;
  border: 1px solid black;
}

.blog-post {
  display: flex;
  flex-direction: row;
}

.blog-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-image {
  height: 200px;
  width: 300px;
  margin: 20px;
}

.blog-body {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-info h3, .blog-info h4, .blog-info h5 {
  margin: 4px;
}

@media only screen and (max-width: 950px) {
  .blog-post-container {
    width: 80vw;
  }
}
@media only screen and (max-width: 700px) {
  .blog-image {
    height: 150px;
    width: 225px;
    margin-top: 30px;
  }

  .blog-post {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .blog-post-container {
    width: 300px;
  }
}
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-content {
  border: 1px solid black;
  width: 900px;
  margin: 20px;
}
.about-me-content h2, .about-me-content h3 {
  text-align: center;
}

.introduction,
.interests,
.hobbies {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.introduction img,
.interests img,
.hobbies img {
  margin: 20px;
}

.about-me-img {
  height: 200px;
  width: 300px;
}

@media only screen and (max-width: 700px) {
  .introduction img,
.interests img,
.hobbies img {
    height: 100px;
    width: 150px;
  }
}
@media only screen and (max-width: 500px) {
  .about-me-content {
    margin: 10px;
  }

  .introduction,
.interests,
.hobbies {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
