
// About component

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.about-me-content {
  border: 3px solid $secondary-color;
  width: 900px;
  background-color: $primary-color;
  margin: 10px 0px;

  h2,
  h3 {
    text-align: center;
    color: $tertiary-color;
    margin: 15px;
  }

  p {
    color: $text-color;
    margin: 20px;
    text-align: center;
  }

  a {
    text-align: center;
  }
}

.introduction,
.interests,
.hobbies {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin: 20px;
  }

}

.about-me-img {
  height: 200px;
  width: 300px;
}

.dl-resume-container {
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: 10px;
}

.dl-resume-button:hover {
  color: white;
  border: 3px solid white;
}

@media only screen and (max-width: 900px) {
  .about-me-content {
    width: 90vw;
  }

  .introduction,
  .interests,
  .hobbies {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {


  .about-me-img {
    height: 180px;
    width: 270px;
    margin: 10px;
  }
}

@media only screen and (max-width: 500px) {

  .about-me-content {
    margin: 10px;
  }

  .introduction,
  .interests,
  .hobbies {

    flex-direction: column;

  }
}