
// Blog component

.blog-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background-color;

  h2 {
    color: $tertiary-color;
    font-size: 50px;
  }
}

.blog-post-container {
  width: 75vw;
  border: 3px solid $secondary-color;
  background-color: $primary-color;
}

.blog-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blog-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-image {
  height: 100px;
  width: 150px;
  margin: 20px;
}

.blog-body {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;

  h3,
  h4,
  h5 {
    margin: 4px;
  }
}

.blog-post-link:hover {
  color: $text-color;
  border: 2px solid $text-color;
}

@media only screen and (max-width: 900px) {
  .blog-post-container {
    width: 80vw;
  }

}

@media only screen and (max-width: 800px) {
  .blog-post-container {
    height: 320px;
    width: 60vw;
  }

  .blog-post {
    flex-direction: column;
  }

  .blog-info {
    align-items: center;

  }

}

@media only screen and (max-width: 400px) {}