// blog overview 

.blog-overview-container {
height: 1000px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;
background-color: $background-color;
}

.blog-card-container {
  display: flex;
  height: 900px;
  width: 900px;
  flex-wrap: wrap;
  border: 5px solid $secondary-color;
}

.blog-card {
  border: 1px solid black;
  height: 448px;
  width: 448px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  .read-button {
    // position ab
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    color: $highlight;
    margin-bottom: 10px;
  }
}

#blog-card-one {
  background-image: url("img/beach.jpeg");
}

#blog-card-two {
  background-image: url("img/forrest.jpeg");
}

#blog-card-three {
  background-image: url("img/mountains.jpeg");
}

#blog-card-four {
  background-image: url("img/skateboard.jpeg");
  
}

.blog-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.blog-card {
  h2 {
    color: $highlight;
  }
}

.blog-card-text {
  h3, a {
    color: $highlight;
  }
}

.read-more {
  position: absolute;
  top: 40%;
  color: $highlight;
  display: none;
  font-size: 30px;
  border: 2px solid $highlight;
  text-decoration: none;
  padding: 5px;
}

.read-more:hover {
  color: white;
  border: 2px solid white;
}

#blog-card-one:hover,
#blog-card-two:hover,
#blog-card-three:hover,
#blog-card-four:hover {

  .read-more {
    display: flex;
  }

  opacity: 90%;
}

@media only screen and (max-width: 900px) {

  .blog-overview-container {
    height: 1900px;
  }

  .blog-heading-container {
    width: 400px;
  }

  .blog-card-container {
    width: 400px;
    height: 1800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {

  .blog-heading-container {
    width: 300px;
  }

  .blog-card-container {
    width: 300px;
  }

  .blog-card {
    width: 300px;
  }

}