// blog overview 

.blog-overview-container {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;
background-color: $background-color;
}

.blog-heading-container {
width: 900px;
display: flex;
justify-content: flex-start;
}

.blog-card-container {
  display: flex;
  height: 940px;
  width: 900px;
  flex-wrap: wrap;
}

.blog-card {
  border: 1px solid black;
  height: 448px;
  width: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}

.blog-card-text {
  display: none;
}

#blog-card-one {
  background-image: url("img/beach.jpeg");
}

#blog-card-two {
  background-image: url("img/forrest.jpeg");
}

#blog-card-three {
  background-image: url("img/mountains.jpeg");
}

#blog-card-four {
  background-image: url("img/skateboard.jpeg");
}

.blog-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.blog-card {
  h2 {
    color: $highlight;
  }
}

.blog-card-text {
  h3, a {
    color: $highlight;
  }
}

#blog-card-one:hover .blog-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blog-card-two:hover .blog-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blog-card-three:hover .blog-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blog-card-four:hover .blog-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#blog-card-one:hover {
  opacity: 80%;
}

#blog-card-two:hover {
  opacity: 80%;
}

#blog-card-three:hover {
  opacity: 80%;
}

#blog-card-four:hover {
  opacity: 80%;
}


.blog-link-bar {
  border: 1px solid black;
  width: 994px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .blog-heading-container {
    width: 400px;
  }

  .blog-card-container {
    width: 400px;
    height: 1840px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {

  .blog-heading-container {
    width: 300px;
  }

  .blog-card-container {
    width: 300px;
  }

  .blog-card {
    width: 300px;
  }

}