// contact me 

.contact-me-container {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}

.contact-me-content {
  height: 400px;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border: 5px solid $secondary-color;
}

.contact-heading {
  padding: 0 20px;
}

.contact-heading,
.contact-info p {
  color: $text-color;
}

.contact-info {
  width: 40%;
  height: 100%;
  text-align: center;
}

.contact-info img {
  margin: 30px 0 15px 0;
  height: 100px;
  width: 150px;
}

.contact-info p {
  padding: 0 40px;
  margin: 10px 0;
  text-align: left;
}

.contact-form {
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: column;
}

.form-input {
  margin: 5px;
  width: 80%;
  box-sizing: border-box;
}

.form-container {
  text-align: center;
}

#message {
  height: 150px;
  width: 80%;
  resize: none;
}

#submit {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {

  .contact-me-container {
    height: 800px;
  }
  
  .contact-me-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 740px;
    width: 448px
  }

  .contact-info {
    width: 350px;
    height: 360px;
  }

  .contact-form {
    width: 400px;
    height: 450px;
  }

  
}

@media only screen and (max-width: 450px) {

  .contact-me-content {
    width: 280px;
  }

  .contact-info {
    width: 280px;
    height: 360px;
  }

  .contact-form {
    width: 280px;
    height: 450px;
  }
}
