// contact me 

.contact-me-container {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  height: 400px;
  width: 600px;
  display: flex;
}

.contact-heading {
  padding: 0 20px;
}

.contact-info {
  border: 1px solid black;
  width: 40%;
  text-align: center;
}

.contact-info p {
  padding: 0 20px;
  margin: 10px 0;
  text-align: left;
}

.contact-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 5px;
  width: 80%;
  box-sizing: border-box;
}

.form-container {
  text-align: center;
}

#message {
  height: 150px;
  width: 80%;
  resize: none;
}

#submit {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {

  .contact-me-container {
    height: 750px;
  }
  
  .contact-me {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 600px;
  }

  .contact-info {
    width: 300px;
    height: 250px;
  }

  .contact-form {
    width: 300px;
    height: 400px;
  }
}
