// global

$primary-color: #04202E;
$secondary-color: #7A918D;
$tertiary-color: #CBE896;
$highlight: #EF5D60;
$text-color: #F1DEDE;

body, html, main {
  padding: 0px;
  margin: 0px;
  // overflow: auto;
}