// global

$primary-color: #04202E;
$secondary-color: #7A918D;
$tertiary-color: #CBE896;
$highlight: #EF5D60;
$text-color: #F1DEDE;
$background-color: white;

body, html, main {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 40px;
  color: $text-color;
  text-align: center;
  padding: 0;
  margin: 20px;
}

h2 {
  font-size: 35px;
}

h1, h2, a {
  font-family: 'Architects Daughter', cursive;
}

h3, p {
  font-family: 'Roboto', sans-serif;
}

h4, h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.contact-info p {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

