// hero

.hero-container {
  background-image: url("img/home-background.png");

  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero-text {
  top: 40vh;
  position: relative;
}

.hero-text p {
  color: $text-color;
  text-align: center;
  font-size: 40px;
  padding: 0;
  margin: 20px;
}

.button {
  border: 2px solid $text-color;
  text-decoration: none;
  color: $text-color;
  padding: 4px 4px 4px 10px;
  text-align: center;
  font-size: 30px;
}

.button:hover {
  color: $highlight;
  border: 1px solid $highlight;
}

#highlight {
  color: $highlight;
}

.down-arrow {
  width: 4vw;
  position: absolute;
  bottom: 0;
  left: 48vw;
}

@media only screen and (max-width: 600px) {
  .home-text p {
    font-size: 30px;
  }

  .button {
    font-size: 20px;
    height: 30px;
  }

  .down-arrow {
    width: 8vw;
    left: 46vw;
  }
}