
// navbar component

.navbar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid $secondary-color;
}

.nav-link-container {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-link-container a {
  font-size: 20px;
  height: 40px;
  text-decoration: none;
  color: $text-color;
  padding: 0 40px 0 0;
  margin: 10px 0 0 0;

}

.nav-link-home:hover,
.nav-link-skills:hover,
.nav-link-blog:hover,
.nav-link-about:hover {
  color: #EF5D60;
}


@media only screen and (max-width: 900px) {

  .nav-link-container {
    width: 600px;
  }



}

@media only screen and (max-width: 600px) {

  .nav-link-container {
    justify-content: center;
    width: 300px;
  }

  .nav-link-container a {
    font-size: 18px;
    padding: 0 15px;
    margin: 10px 0 0 0;
    height: 20px;

  }
}